<div id="main-square">
    <form>
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username">
      
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password">
      
        
        <input type="checkbox" id="rememberMe" name="rememberMe">
        <label for="rememberMe">Recordarme</label>
      
        <button type="submit">Iniciar sesión</button>

        <hr>
      
        <p>En caso de olvidar la contraseña, por favor, contáctese con el Administrador del Sistema</p>
    </form>
    <p>© 2024 StockWage Reservados todos los derechos</p>
</div>

