@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

#wallpaper-img {
    width: 100dvw;
    height: 100dvh;
    opacity: 0.9;
    z-index: -1;
    position:fixed;
}

#main-container {
    width: 35vw;
    height: 40vw;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 1.5vh;
    border: 0.1vh solid #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-family: "Inter", sans-serif;
    font-size: 1.5vb;
}

#main-container img {
   height:8vh;
   align-self: center;
}

#main-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:5vw;
    padding-right:5vw;
}

#main-container form .main-input{
    height:5vh;
    border-radius: 0.5vh;
    border: 0.1vh solid #D9D9D9;
    margin-bottom: 3vh;
    padding: 0.2vw;
}
#main-container hr{
    border: 0.1vh solid #D9D9D9;
    width:75%;
}
#rememberMe-container{
    padding-top: 10%;
}

#main-container form #rememberMe {
    border: 1vh solid #D9D9D9;
}

#main-container form .main-label{
    padding-bottom: 1vh;
}

#main-container form #btn-login{
    padding-top: 4%;
    padding-bottom: 4%;
    margin-left: 4vw;
    margin-right: 4vw;
    border-radius: 1vh;
    border: 0.1vh solid #fff;

    font-size: 2vb;
    font-weight: 800;
    color: #fff;
    background-color: #5CAEFA;
}

#main-container p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    font-size: 1.3vb;
    padding-right: 4vw;
    padding-left: 4vw;
    padding-bottom:5vh;
}

@media (max-width:1100px){
    #main-container{
        width: 60vw;
        height: 70vw;
        justify-content: center;
        padding-left: 3vw;
        padding-right: 3vw;
    }
}
@media (max-width:600px){
    #main-container{
        width: 100vw;
        height: 110vh;
        justify-content: center;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    #main-container form{
        padding-left:10vw;
        padding-top:2vh;
        padding-bottom:2vh;
        padding-right:10vw;
    }
    #main-container p{
        padding-left: 15vw;
        padding-right: 15vw;
    }
}
