<img id="wallpaper-img" src="/../assets/login/wallpaper.jpg" alt="wallpaper">
<div id="main-container">
    <img src="/../assets/login/main-logo.png" alt="logo-company">

    <form>
        
        <label for="username" class="main-label">Usuario</label>
        <input type="text" id="username" class="main-input" name="username">
      
        <label for="password" class="main-label">Contraseña</label>
        <input type="password" id="password" class="main-input" name="password">
      
        <button type="submit" id="btn-login">INICIAR SESIÓN</button>
        <div id="rememberMe-container">
            <input type="checkbox" id="rememberMe" name="rememberMe">
            <label for="rememberMe" >Recordarme</label>
        </div>
    </form>
        

        <hr>
      
        <p>En caso de olvidar la contraseña, por favor, contáctese con el Administrador del Sistema</p>
   
    
</div>
<p>© 2024 StockWage Reservados todos los derechos</p>

