.container {
  flex-direction: column; /* Arrange items in a column */
}

/* Styles for logo container */
.logo-container {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  margin-bottom: 10px; /* Space between image and text */
}

/* Styles for logo */
.logo {
  margin-right: 10px; /* Space to the right */
}

/* Styles for business name */
.business-name {
  font-family: 'Roboto Semibold', sans-serif; /* Specify font family */
}

/* Styles for separating line */
.line {
  width: 60%; /* Set line width to 60% of the container */
  border: none; /* Remove default border */
  border-top: 2px solid #D9D9D9; /* Set line style */
  margin: 0 0 2% 0; /* Space between line and elements, added bottom margin */
  left: 0; /* Position relative to the parent container */
  top: 0; /* Position relative to the parent container */
}

/* Styles for info section */
.info {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Ensure items are stacked vertically */
}

/* Styles for info items */
.info-item {
  font-family: 'Roboto SanS', sans-serif; /* Specify font family */
  margin-bottom: 0.5em; /* Space between info items */
  margin-top: 2%;
}

/* Styles for screens smaller than 576px */
@media screen and (max-width: 575px) {
  .business-name {
    font-size: 1em; /* Adjust font size */
  }
  .logo {
    max-height: 2em; /* Adjust image size */
  }
  .info-item {
    font-size: 0.9em; /* Adjust font size */
  }
}

/* Styles for screens between 576px and 767px */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .business-name {
    font-size: 1.2em; /* Adjust font size */
  }
  .logo {
    max-height: 2.5em; /* Adjust image size */
  }
  .info-item {
    font-size: 1em; /* Adjust font size */
  }
}

/* Styles for screens between 768px and 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .business-name {
    font-size: 1.4em; /* Adjust font size */
  }
  .logo {
    max-height: 2.5em; /* Adjust image size */
  }
  .info-item {
    font-size: 1.1em; /* Adjust font size */
  }
}

/* Styles for screens between 992px and 1199px */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .business-name {
    font-size: 1.6em; /* Adjust font size */
  }
  .logo {
    max-height: 2.8em; /* Adjust image size */
  }
  .info-item {
    font-size: 1.2em; /* Adjust font size */
  }
}

/* Styles for screens between 1200px and 1399px */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .business-name {
    font-size: 1.8em; /* Adjust font size */
  }
  .logo {
    max-height: 3em; /* Adjust image size */
  }
  .info-item {
    font-size: 1.3em; /* Adjust font size */
  }
}

/* Styles for screens 1400px and larger */
@media screen and (min-width: 1400px) {
  .business-name {
    font-size: 2em; /* Adjust font size */
  }
  .logo {
    max-height: 3em; /* Adjust image size */
  }
  .info-item {
    font-size: 1.4em; /* Adjust font size */
  }
}
