<div class="container">
  <div class="logo-container">
    <img src="./assets/user.svg" alt="Imagen" class="logo">
    <div class="business-name">{{ client?.company_name }}</div>
  </div>
  <div class="info">
    <div class="info-item">NIT</div>
    <div class="info-item">{{ client?.NIT }}</div>
    <hr class="line">
    <div class="info-item">Contacto</div>
    <div class="info-item">{{ client?.contact_name }}</div>
    <hr class="line">
    <div class="info-item">Plan actual</div>
    <div class="info-item">{{plan}}</div>
    <hr class="line">
    <div class="info-item">Ganancias totales</div>
    <div class="info-item">{{total}}</div>
    <hr class="line">
  </div>
</div>

