<div class="container">
  <div class="header">
    <div class="icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="64"
        height="64"
        viewBox="0 0 24 24"
      >
        <path
          fill="#fff"
          d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"
        />
      </svg>
    </div>
    <h1>Cuentas de monitoreo</h1>
    <div class="search-container">
      <input
        type="text"
        class="search-input"
        placeholder="Buscar en la lista..."
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="search-icon"
      >
        <circle cx="11" cy="11" r="8" />
        <path d="m21 21-4.3-4.3" />
      </svg>
    </div>
    <button class="create-button">Nuevo</button>
  </div>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr class="row">
          <th>Nombre</th>
          <th>Correo electrónico</th>
          <th>Roles</th>
          <th>Última hora de creación</th>
          <th>Último reporte</th>
          <th class="edit-row"></th>
        </tr>
      </thead>
      <tbody>
        @for (account of accounts; track account.id) {
        <tr class="row">
          <td>{{ account.name }}</td>
          <td>{{ account.last_name }}</td>
          <td>{{ account.rol.description }}</td>
          <td>{{ account.last_connection| date:'shortDate' }}</td>
          <td>{{ account.last_report.activity}}</td>
          <td class="edit-cell">
            <input
              id="{{ 'toggle-' + account.id }}"
              class="toggle"
              (click)="setSelectedEditAccount(account)"
            />
            <label
              for="{{ 'toggle-' + account.id }}"
              class="edit-button"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="m6 9 6 6 6-6" />
              </svg>
              @if (account.id ===
              selectedEditAccount?.id) {
              <div class="edit-options">
                <button class="options-buttons">modificar</button>
                <button class="options-buttons">eliminar</button>
              </div>
              }
            </label>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
