.container {
  --radius: 10px;
  --main-color: #d9d9d9;
  --main-color-dark: #474747;
  --main-color-transparent: #d9d9d980;
  --dark-blue: #21325B;
  display: flex;
  flex-direction: column;
  font-family: 'Radio Canada';
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.icon {
  background-color: var(--dark-blue);
  border-radius: var(--radius);
  height: 64px;
  width: 64px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  border-radius: var(--radius);
  padding: 5px;
  padding-left: 30px;
  height: 32px;
  width: 240px;
  border: 2px solid var(--main-color);
  transition: 0.3s ease;
  color: rgba(48, 48, 48, 0.8);
  
  &:focus,
  &:hover {
    outline: none;
    caret-color: rgba(48, 48, 48, 0.4);
    border-color: rgba(48, 48, 48, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(48 48 48 / 10%);
  }
  
  &::placeholder {
    color: var(--main-color);
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: rgba(48, 48, 48, 0.4);
  }
}

.search-icon {
  position: absolute;
  left: 5px;
  stroke: var(--main-color);
}

.search-input:hover + .search-icon,
.search-input:focus + .search-icon {
  stroke: rgba(48, 48, 48, 0.4);
}

.create-button {
  border-radius: var(--radius);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.table-container {
  overflow-x: scroll;
  scrollbar-width: none;
}

.table {
  min-width: 800px;
  width: 100%;
  border-collapse: collapse;
}

thead .row {
  height: 3rem;
  background-color: var(--main-color-transparent);
  border: 0;
}

.row {
  display: grid;
  align-items: center;
  height: 2rem;
  border-bottom: 2px solid var(--main-color-transparent);
  grid-template-columns: repeat(5, 4fr) 1fr;
}

.row > * {
  text-align: center;
}

.edit-cell {
  position: relative;
}

.toggle {
  display: none;
}

.edit-button {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color-transparent);
  border: 2px solid var(--main-color-dark);
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: var(--main-color);
  }
}

.edit-button svg {
  position: absolute;
}

.edit-options {
  position: absolute;
  right: 0;
  top: 120%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 5rem;
  height: 4rem;
  background-color: white;
  border: 2px solid var(--main-color-dark);
  z-index: 20;
  animation: fadeIn 0.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.options-buttons {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--main-color-transparent);
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .create-button {
      margin: 1rem;
    }
  }
}
