
/* Estilo de las tablas */
table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  background-color: #D9D9D9;
  font-weight: bold;
}

table th,
table td {
  border-bottom: 3px solid #D9D9D9;
  border-bottom: 3px solid #D9D9D9;
  padding: 8px;
}

table td {
  text-align: center;
}

table tr:first-child td {
  border-top: 3px solid #D9D9D9;
}

table tr:last-child td {
  border-bottom: 3px solid #D9D9D9;
}

.user-icon {
  width: 45px;
  height: 45px;
}


.card-custom {
  max-width: 100px; /* Ajusta el tamaño según tu diseño */
  margin: 0 auto; /* Centra el contenedor */
  overflow: hidden;

}

.container-btn {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.container-btn button {
  margin: 0 5px;
}

button.btn-primary.btn-submit {
  background-color: #5CAEFA;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
}

button.btn-primary.btn-cancel {
  background-color: #B81717;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
}


.btn-custom {
  border-color: #D9D9D9;
  min-width: 100px
}
.form-group label {
  display: block;
  margin-bottom: .5rem;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}