<div class="container container-content">

  <div class="row align-items-center mb-5">
    <div class="col-auto mb-2">
      <img ngSrc="../../../../../assets/icons/User.png" alt="Icono" class="user-icon" height="413" width="412">
    </div>
    <div class="col-auto ps-0 mb-2">
      <h1 class="font-weight-bold mb-2">Negocio S.A.</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <!-- Primera card -->



      <!-- Segunda card -->
      <div class="row">
        <div class="col-md-12 p-3">
          <div class="card">
            <div class="card-body ">
              <div class="row align-items-center mb-5 ">
                <div class="col-auto mb-2">
                  <img ngSrc="../../../../../assets/icons/User.png" alt="Icono" class="user-icon" height="413"
                       width="412">
                </div>
                <div class="col-auto ps-0 mb-2">
                  <h3 class="font-weight-bold mb-2">Respuestas Dudas</h3>
                </div>
                <div class="col">
                  <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-custom">Enviar</button>
                  </div>
                </div>

                <div class="bg-light py-3 ">
                  <h6 class="mb-0">Asunto</h6>
                </div>

                <div class="mt-3 pb-3" style="border-bottom: 1px solid #dee2e6;">
                  <h6>Destinatario</h6>
                </div>


                <div class="mt-3">
                  <h6>Descripción</h6>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="col-md-6 p-3">
      <div class="card">
        <div class="card-body">

          <h5 class="mb-3 text-center">Historial de Dudas</h5>

          <!-- Mini Card que se repite-->
          <div class="card mb-3">
            <div class="card-body">
              <div class="row  mb-3">
                <div class="col-6">
                  <span class="fw-bold">Andrés Armando (Negocio S.A.)</span>
                </div>
                <div class="col-6 text-end">
                  <input type="checkbox">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-6">
                  <span class="fw-bold">andresArg&#64;negocio.com</span>
                </div>
                <div class="col-6 text-end">
                  <span>2024/20/02</span>
                </div>
              </div>
              <div class="row bg-light py-3 mb-3">
                <div class="col">
                  <span>COSTOS DEL NUEVO PLAN</span>
                </div>
              </div>
              <div class="row">
                <div class="col " style="text-align: justify;">
                  <span>¡Hola StockWage! Escribo porque tengo dudas acerca de las nuevas características del nuevo plan</span>
                </div>
              </div>
            </div>
          </div>





        </div>
      </div>
    </div>
  </div>
</div>
