<div class="container-content container">

  <div class="flex-container">
    <div class="navbar">

    </div>
    <div class="item2">
      <div class="logout"></div>
      <div class="item4">
        <div class="item5">
          <div class="manage-account">
            <div class="business-info">
              <app-company-info></app-company-info>
            </div>
          </div>
          <div class="sales-mail">
            <app-sales-mail></app-sales-mail>
          </div>
        </div>
        <div class="support-history">
          <app-sales-data></app-sales-data>
        </div>
      </div>
    </div>
  </div>
</div>
