/* Container for managing PQRS (Public Queries and Complaints) */
.manage-pqrs-container {
  display: flex; /* Display as flex container */
  justify-content: flex-start; /* Align items along the start of the main axis */
  align-items: stretch; /* Stretch items to fill cross axis */
  flex-direction: column; /* Arrange items in a column */
  background-color: #ffffff; /* White background */
  height: 100%; /* Occupy full height */
  border: 1px solid rgba(217, 217, 217, 1);
  padding: 2px;
  border-radius: 2px;
  margin-top: 20px;
}

/* Description section styling */
.description {
  font-family: 'Average Sans', sans-serif; /* Font family */
  background: #ffffff; /* White background */
  border: 1px solid rgba(217, 217, 217, 0.5); /* Light border */
  border-radius: 3px; /* Rounded corners */
  padding: 1.5%; /* Padding */
  margin: 2%; /* Margin */
  flex-grow: 1; /* Allow growth to fill remaining space */
}

/* Logo styling */
.logo {
  padding: 1%; /* Padding */
}

/* Header for managing PQRS */
.manage-pqrs-header {
  background: #ffffff; /* White background */
  border-radius: 5px; /* Rounded corners */
  display: flex; /* Display as flex container */
  flex-direction: row; /* Arrange items in a row */
  align-items: center; /* Align items along the cross axis */
  gap: 5px; /* Gap between items */
  padding: 1%; /* Padding */
  margin: 2%; /* Margin */
}

/* Logo within manage-pqrs-header */
.manage-pqrs-header > .logo {
  flex: 0 0 auto; /* Prevent stretching and allow natural size */
}

/* Title styling */
.title {
  font-family: 'Roboto Semibold', sans-serif; /* Font family */
  flex-grow: 1; /* Allow growth to fill remaining space */
}

/* Responsive styling for manage-pqrs-header */
.manage-pqrs-header {
  flex-wrap: wrap; /* Allow wrapping */
  align-content: flex-start; /* Align content along the start of the cross axis */
}

/* Button styling */
.button {
  font-family: 'Roboto Regular', sans-serif; /* Font family */
  border: 1px solid #D9D9D9; /* Border */
  border-radius: 10px; /* Rounded corners */
  background-color: white; /* White background */
  cursor: pointer; /* Cursor type */
  padding: 0.1em 1em; /* Padding */
}

/* Subject styling */
.subject {
  font-family: 'Average Sans', sans-serif; /* Font family */
  background-color: rgba(217, 217, 217, 0.5); /* Background color with opacity */
  padding: 1%; /* Padding */
  height: 5%; /* Height */
}

/* Media queries for responsive design */

/* Small screens */
@media screen and (max-width: 575px) {
  .title {
    font-size: 1em; /* Increase font size */
  }
  .logo {
    max-height: 2em; /* Adjust max height */
  }
  .info-item {
    font-size: 0.9em; /* Adjust font size */
  }
  .button {
    font-size: 1em; /* Adjust font size */
  }
}

/* Medium screens */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .title {
    font-size: 1.2em; /* Adjust font size */
  }
  .logo {
    max-height: 2.5em; /* Adjust max height */
  }
  .info-item {
    font-size: 1em; /* Adjust font size */
  }
  .button {
    font-size: 1.1em; /* Adjust font size */
    align-items: center;
    align-content: center;
  }
}

/* Large screens */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .title {
    font-size: 1.4em; /* Adjust font size */
  }
  .logo {
    max-height: 2.5em; /* Adjust max height */
  }
  .info-item {
    font-size: 1.1em; /* Adjust font size */
  }
  .button {
    font-size: 1.2em; /* Adjust font size */
  }
}

/* Extra large screens */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .title {
    font-size: 1.6em; /* Adjust font size */
  }
  .logo {
    max-height: 2.8em; /* Adjust max height */
  }
  .info-item {
    font-size: 1.2em; /* Adjust font size */
  }
  .button {
    font-size: 1.3em; /* Adjust font size */
  }
}

/* Extra extra large screens */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .title {
    font-size: 1.8em; /* Adjust font size */
  }
  .logo {
    max-height: 3em; /* Adjust max height */
  }
  .info-item {
    font-size: 1.3em; /* Adjust font size */
  }
  .button {
    font-size: 1.4em; /* Adjust font size */
  }
}

/* Very large screens */
@media screen and (min-width: 1400px) {
  .title {
    font-size: 2em; /* Adjust font size */
  }
  .logo {
    max-height: 3em; /* Adjust max height */
  }
  .info-item {
    font-size: 1.4em; /* Adjust font size */
  }
  .button {
    font-size: 1.5em; /* Adjust font size */
  }
}
.subject-input {
  width: 80%; /* El input de asunto ocupará todo el ancho disponible */
  border: none; /* Eliminar los bordes del input */
  background-color: transparent;
}
.description-input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none; /* El input de descripción crecerá dinámicamente a medida que se ingresa texto */
}
