<div class="container container-content">

  <div class="row align-items-center mb-5">
    <div class="col-auto mb-2">
      <img ngSrc="../../../../../assets/icons/User.png" alt="Icono" class="user-icon" height="413" width="412">
    </div>
    <div class="col-auto ps-0 mb-2">
      <h1 class="font-weight-bold mb-2">Informacion Ventas General</h1>
    </div>
  </div>


  <div class="row">
    <!-- Columna derecha -->
    <div class="col-md-6">
      <!-- Primera card -->
      <div class="row">
        <div class="col-md-12 p-3">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="mb-3">Ventas generales </h5>
              <table class="table">
                <tbody>
                  <tr>
                    <td>Ventas Hoy</td>
                    <td>{{totalToday}}</td>
                  </tr>
                  <tr>
                    <td>Ventas Ultimo mes</td>
                    <td>{{totalMonth}}</td>
                  </tr>
                  <tr>
                    <td>Ventas Ultimo Año</td>
                    <td>{{totalYear}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Segunda card -->
      <div class="row">
        <div class="col-md-12 p-3">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="mb-3">Ventas realizadas por negocios </h5>
              <table class="table">
                <thead>
                  <tr>
                    <th>Negocio</th>
                    <th>Venta</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container
                  *ngFor="let client of clientesAux; let i = index">
                  <tr>
                    <td>{{client.nombre}}</td>
                    <td>{{client.total}}</td>
                  </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Columna izquierda -->
    <div class="col-md-6 p-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <!-- Tarjetas internas -->
            <div class="col-md-4">
              <!-- Primera tarjeta -->
              <div class="card mb-3">
                <div class="card-body">
                  <h6 class="card-subtitle fw-bold mb-2 text-center">{{totalFree}}</h6>
                  <p class="card-text text-center">Free Trial</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <!-- Segunda tarjeta -->
              <div class="card mb-3">
                <div class="card-body">
                  <h6 class="card-subtitle fw-bold mb-2 text-center">{{totalGolden}}</h6>
                  <p class="card-text text-center">Plan Golden</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <!-- Tercera tarjeta -->
              <div class="card mb-3">
                <div class="card-body">
                  <h6 class="card-subtitle fw-bold mb-2  text-center">{{totalSilver}}</h6>
                  <p class="card-text text-center">Plan Silver</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Input dentro de la tarjeta -->
          <div class="row align-items-center mb-5">
            <div class="col-auto mb-2">
              <img ngSrc="assets/icons/User.png" alt="Icono" class="user-icon" height="413" width="412">
            </div>
            <div class="col">
              <form class="form-inline">
                <div class="input-group w-100"> <!-- Añadimos la clase w-100 para que ocupe el ancho completo -->
                  <input type="text" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" class="form-control"
                    placeholder="Buscar en esta lista..." (keydown.enter)="searchByCompany()">
                  <div class="input-group-append">
                    <button class="btn" type="submit"><i class="bi bi-search" style="color: #9A9A9A;"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr class="text-center">
                  <th>Empresa</th>
                  <th>Correo</th>
                  <th>Plan</th>
                  <th>Uso</th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngFor="let bill of billings.slice((actualpageSubscription - 1) * 5, actualpageSubscription * 5); let i = index">
                  <tr>
                    <td>{{bill.client.company_name}}</td>
                    <td>{{bill.client.email}}</td>
                    <td>{{bill.plan.type}}</td>
                    <!--<td>{{bill.usage.hours}}:{{bill.usage.minutes}}</td>-->
                    <td></td>
                  </tr>
                </ng-container>
                <tr style="border-bottom: 0vw" *ngIf="billings.length > 5">
                  <td></td>
                  <td>
                    <img src="../../../../../assets/icons/flecha.png" style="cursor: pointer;width:1.5vw"
                      (click)="previousPage()" *ngIf="actualpageSubscription > 1">
                  </td>
                  <td>
                    <img src="../../../../../assets/icons/flecha.png"
                      style="cursor: pointer;width:1.5vw;transform: rotate(180deg);" (click)="nextPage()"
                      *ngIf="actualpageSubscription < totalpagesSubscription">
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>