<div class="container container-content">

  <div class="row align-items-center mb-5">
    <div class="col-auto mb-2">
      <img ngSrc="../../../../../assets/icons/User.png" alt="Icono" class="user-icon" height="413" width="412">
    </div>
    <div class="col-auto ps-0 mb-2">
      <h1 class="font-weight-bold mb-2">Informacion Ventas General</h1>
    </div>
  </div>


  <div class="row">
    <!-- Columna derecha -->
    <div class="col-md-6">
      <!-- Primera card -->
      <div class="row">
        <div class="col-md-12 p-3">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="mb-3">Ventas generales </h5>
              <table class="table">
                <tbody>
                <tr>
                  <td>Ventas Hoy</td>
                  <td>Data 1</td>
                </tr>
                <tr>
                  <td>Ventas Ultimo mes</td>
                  <td>Data 2</td>
                </tr>
                <tr>
                  <td>Ventas Ultimo Año</td>
                  <td>Data 3</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Segunda card -->
      <div class="row">
        <div class="col-md-12 p-3">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="mb-3">Ventas realizadas por negocios </h5>
              <table class="table">
                <thead>
                <tr>
                  <th>Negocio</th>
                  <th>Venta</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Row 1</td>
                  <td>Data 1</td>
                </tr>
                <tr>
                  <td>Row 2</td>
                  <td>Data 2</td>
                </tr>
                <tr>
                  <td>Row 3</td>
                  <td>Data 3</td>
                </tr>
                <tr>
                  <td>Row 4</td>
                  <td>Data 4</td>
                </tr>
                <tr>
                  <td>Row 5</td>
                  <td>Data 5</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Columna izquierda -->
    <div class="col-md-6 p-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <!-- Tarjetas internas -->
            <div class="col-md-4">
              <!-- Primera tarjeta -->
              <div class="card mb-3">
                <div class="card-body">
                  <h6 class="card-subtitle fw-bold mb-2 text-center">200</h6>
                  <p class="card-text text-center">Free Trial</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <!-- Segunda tarjeta -->
              <div class="card mb-3">
                <div class="card-body">
                  <h6 class="card-subtitle fw-bold mb-2 text-center">200</h6>
                  <p class="card-text text-center">Plan Golden</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <!-- Tercera tarjeta -->
              <div class="card mb-3">
                <div class="card-body">
                  <h6 class="card-subtitle fw-bold mb-2  text-center">200</h6>
                  <p class="card-text text-center">Plan Silver</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Input dentro de la tarjeta -->
          <div class="row align-items-center mb-5">
            <div class="col-auto mb-2">
              <img ngSrc="assets/icons/User.png" alt="Icono" class="user-icon" height="413" width="412">
            </div>
            <div class="col">
              <form class="form-inline">
                <div class="input-group w-100"> <!-- Añadimos la clase w-100 para que ocupe el ancho completo -->
                  <input type="text" class="form-control" placeholder="Buscar en esta lista...">
                  <div class="input-group-append">
                    <button class="btn" type="submit"><i class="bi bi-search" style="color: #9A9A9A;"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr class="text-center">
                <th>Empresa</th>
                <th>Correo</th>
                <th>Plan</th>
                <th>Uso</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>Felipe Garcia</td>
                <td>25/01/2023 12:00</td>
                <td>26/01/2023 16:00</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Data 2</td>
                <td>26/01/2023 16:00</td>
                <td>26/01/2023 16:00</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Data 3</td>
                <td>27/02/2023 17:00</td>
                <td>26/01/2023 16:00</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Data 4</td>
                <td>28/02/2023 18:00</td>
                <td>26/01/2023 16:00</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Data 5</td>
                <td>29/03/2023 22:00</td>
                <td>26/01/2023 16:00</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Data 5</td>
                <td>29/03/2023 22:00</td>
                <td>26/01/2023 16:00</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

