.btn-custom {
  border-color: #D9D9D9;
  min-width: 100px
}

.input-custom {
  min-width: 300px;
  max-width: 300px;
}

.user-icon {
  width: 45px;
  height: 45px;
}
.search-bar {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  margin-left: 14vw;
}
